<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>FantasyPal</title>
</head>

<%- include ('partials/_header.ejs') %>

  <main style="margin: 1em;">

    <h3 style="font-size: 40px; color: white; text-shadow: 2px 2px 0px black;">Create Matchups</h3>    
    <form class="form-inline" action="/scheds/new" method="POST" style="padding: 2em; justify-content: center;">
      <div class="form-group mb-2">
        <label style="color: white; font-size: 40px; padding-right: 1em; text-shadow: 2px 2px 0px black;"
        for="longURL"><strong>Select Teams:</strong></label>        
        <div>
          
          <select name="team-one" class="form-select">
            <option class="dropdown-item" >Anaheim Ducks</a>
            <option class="dropdown-item" >Arizona Coyotes</a>
            <option class="dropdown-item" >Boston Bruins</a>
            <option class="dropdown-item" >Buffalo Sabres</a>
            <option class="dropdown-item" >Calgary Flames</a>
            <option class="dropdown-item" >Carolina Hurricanes</a>
            <option class="dropdown-item" >Chicago Blackhawks</a>
            <option class="dropdown-item" >Colorado Avalanche</a>
            <option class="dropdown-item" >Columbus Blue Jackets</a>
            <option class="dropdown-item" >Dallas Stars</a>
            <option class="dropdown-item" >Detroit Red Wings</a>
            <option class="dropdown-item" >Edmonton Oilers</a>
            <option class="dropdown-item" >Florida Panthers</a>
            <option class="dropdown-item" >Los Angeles Kings</a>
            <option class="dropdown-item" >Minnesota Wild</a>
            <option class="dropdown-item" >Montreal Canadiens</a>
            <option class="dropdown-item" >Nashville Predators</a>
            <option class="dropdown-item" >New Jersey Devils</a>
            <option class="dropdown-item" >New York Islanders</a>
            <option class="dropdown-item" >New York Rangers</a>
            <option class="dropdown-item" >Ottawa Senators</a>
            <option class="dropdown-item" >Philadelphia Flyers</a>
            <option class="dropdown-item" >Pittsburgh Penguins</a>
            <option class="dropdown-item" >San Jose Sharks</a>
            <option class="dropdown-item" >Seattle Kraken</a>
            <option class="dropdown-item" >St Louis Blues</a>
            <option class="dropdown-item" >Tampa Bay Lightning</a>
            <option class="dropdown-item" >Toronto Maple Leafs</a>
            <option class="dropdown-item" >Vancouver Canucks</a>
            <option class="dropdown-item" >Vegas Golden Knights</a>
            <option class="dropdown-item" >Washington Capitals</a>
            <option class="dropdown-item" >Winnipeg Jets</a>
          </select>
        </div>
        <div class="px-5">
          
          <select name="team-two" class="form-select">
            <option class="dropdown-item" >Anaheim Ducks</a>
            <option class="dropdown-item" >Arizona Coyotes</a>
            <option class="dropdown-item" >Boston Bruins</a>
            <option class="dropdown-item" >Buffalo Sabres</a>
            <option class="dropdown-item" >Calgary Flames</a>
            <option class="dropdown-item" >Carolina Hurricanes</a>
            <option class="dropdown-item" >Chicago Blackhawks</a>
            <option class="dropdown-item" >Colorado Avalanche</a>
            <option class="dropdown-item" >Columbus Blue Jackets</a>
            <option class="dropdown-item" >Dallas Stars</a>
            <option class="dropdown-item" >Detroit Red Wings</a>
            <option class="dropdown-item" >Edmonton Oilers</a>
            <option class="dropdown-item" >Florida Panthers</a>
            <option class="dropdown-item" >Los Angeles Kings</a>
            <option class="dropdown-item" >Minnesota Wild</a>
            <option class="dropdown-item" >Montreal Canadiens</a>
            <option class="dropdown-item" >Nashville Predators</a>
            <option class="dropdown-item" >New Jersey Devils</a>
            <option class="dropdown-item" >New York Islanders</a>
            <option class="dropdown-item" >New York Rangers</a>
            <option class="dropdown-item" >Ottawa Senators</a>
            <option class="dropdown-item" >Philadelphia Flyers</a>
            <option class="dropdown-item" >Pittsburgh Penguins</a> 
            <option class="dropdown-item" >San Jose Sharks</a>
            <option class="dropdown-item" >Seattle Kraken</a>
            <option class="dropdown-item" >St Louis Blues</a>
            <option class="dropdown-item" >Tampa Bay Lightning</a>
            <option class="dropdown-item" >Toronto Maple Leafs</a>
            <option class="dropdown-item" >Vancouver Canucks</a>
            <option class="dropdown-item" >Vegas Golden Knights</a>
            <option class="dropdown-item" >Washington Capitals</a>
            <option class="dropdown-item" >Winnipeg Jets</a>
          </select>
        </div>
        <div class="form-group">
          <label style="color: white; font-size: 40px; padding-right: 1em; text-shadow: 2px 2px 0px black;" for="date"><strong>Date: </strong></label>            
          <input name="date" type="datetime" class="form-control" placeholder="YYMMDD">
        </div>
      </div>
      
      <button type="submit" class="btn btn-info">Submit</button>

    </form>
    <style>
      body {
        background-image: url("https://www.vmcdn.ca/f/files/via/images/ice-hockey-arena.jpg;w=960");
        background-repeat: no-repeat;
        background-size: cover
      }
    </style>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2017-2021 StrawHats, Inc.</p>
      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"> -->
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="/homepage" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  </body>
  <style>
  </style>
</style>
</html>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button> -->